
.registe{
    background-color: rgb(230, 219, 216);
    font-family:  'Microsoft JhengHei';
    text-align: center;
    padding: 10px 0;
    h2{
        font-size: 3em;
        color: #3D1101;
        font-weight: 600;
        padding-top: 50px;
    }
    p{
        font-size: 1.3em;
        margin: 20px 0 40px;
        font-weight: 600;
        color: #3D1101;
    }
    ul{
        width: 80%;
        border-top: 3px solid #F56C23;
        box-shadow: 5px 5px 6px rgb(158, 158, 158);
        margin: 20px auto;
        padding: 10px 0;
        li:nth-child(1) p{
            font-size: 26px;
            margin-bottom: 30px;
        }
        li:nth-child(2){
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 1%;
            @include pad(){
                flex-wrap: wrap;
            }
            span{
                width: 48%;
                text-align: justify;
                font-size: 16px;
                margin: 0 1%;
                @include pad(){
                    width: 100%;
                }
                p{
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
            form{
                width: 46%;
                text-align: start;
                padding: 0 2%;
                position: relative;
                @include pad(){
                    width: 100%;
                }
                input{
                    width: 100%;
                    margin: 10px 0;
                }
            }
            #email{
                background-image: url('https://img.icons8.com/ios-filled/16/000000/new-post.png');
                background-repeat: no-repeat;
                background-position-x: 5px;
                background-position-y: 8px;
                padding-left: 30px;
            }
            #password,#password-again{
                background-image: url('https://img.icons8.com/material/16/000000/password--v1.png');
                background-repeat: no-repeat;
                background-position-x: 5px;
                background-position-y: 8px;
                padding-left: 30px;
            }
            .pure-form-message{
                margin: 10px 0;
                letter-spacing: 2px;
                color: coral;
                font-weight: 900;
            }
            .pure-button-primary{
                width: 30%;
                background-color: #F56C23;
                margin-top: 10px;
            }
        }
    }
}