$size-s: 18px;
$size-m: 20px;
$size-l: 24px;
$size-xl: 26px;
$size-xxl: 30px;

$bg-1: #F6F4F3;
$bg-2: #3D1101;
$bg-3: #E6DBD8;

$clr-1: #ffffff;
$clr-2: #3D1101;
$clr-3: #F56C23;


$line-a: 150px;
$line-b: 150px;